<script
  src="https://utteranc.es/client.js"
  repo="kimdaye77/Blog-comments"
  issue-term="pathname"
  theme="github-light"
  crossorigin="anonymous"
  async
></script>

<script>
  const currentAppearance = localStorage.getItem("appearance");
  const regex = /^Switch.*appearance$/;

  document.addEventListener("click", function (event) {
    const targetButton = event.target.closest("div");
    if (targetButton && regex.test(targetButton.title)) reloadUtterances();
  });

  // Utterances 다시 로드 함수
  function reloadUtterances() {
    const utterancesContainer = document.querySelector(".utterances");
    utterancesContainer.innerHTML = ""; // 기존 Utterances 컨테이너 비우기

    // 새로운 스크립트 엘리먼트 생성
    const newScript = document.createElement("script");
    newScript.src = "https://utteranc.es/client.js";
    newScript.setAttribute("repo", "kimdaye77/Blog-comments");
    newScript.setAttribute("issue-term", "pathname");
    newScript.setAttribute(
      "theme",
      localStorage.getItem("appearance") === "dark"
        ? "github-dark"
        : "github-light"
    );
    newScript.setAttribute("crossorigin", "anonymous");
    newScript.setAttribute("async", true);
    // Utterances 컨테이너에 새로운 스크립트 엘리먼트 추가
    utterancesContainer.appendChild(newScript);
  }
  // 페이지 로드 시 localStorage 값을 확인하여 초기 테마 설정
  window.onload = function () {
    reloadUtterances();
  };
</script>
